body {
    background-image: url(img/fone.jpg);
    background-repeat: no-repeat;
    width: 100%;
    width: 1365px;
height: 770px;
margin: 0;
padding: 0;
position: relative;
}

.wrapp  {
    display: flex;
    width: 1365px;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.40);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
height: 58px;
margin: 0 auto;
}
.logo {
    display: flex;
    flex-direction: column;
    color: #fff;
font-family: Ubuntu;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 100% */
padding: 22px 79px;
}
.logo:hover{
    color: #01813F;
}
.header-link{
    display: flex;
    align-items: center;
    padding: 22px 79px;
}
.link{
    display: flex;
    gap: 25px;
    margin-left: 50px;
}
.list {
    display: inline-block;
    color: #fff;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */

}
.item:hover{
    color: #01813F;

}
.header-icons{
    display: flex;
    gap: 10px;
    position: relative;
    /* margin-left: 10px; */
}
.link::before {
    content: "";
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    position: absolute;
    width: 1px;
height: 19px;
    right: 310px;
    top: 19.5px;
}

.container{
    display: flex;
    background: #FFF;
    justify-content: center;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    position: absolute;
    top: 15%;
    left: 35%;
   
}
.shape{
    width: 18px;
height: 18px;
background: #3CB878;
position: absolute;
top: 29px;
left: 0px;
}
.form-container{
    display: flex;
    justify-content: center;
}
.sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}
.sing-first {
    display: flex;
    color: #434343;
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
margin-bottom: 15px;
}
.sing-second {
    display: flex;
    align-items: center;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    margin-bottom: 13px;
}
.sing-second:hover{
    color: #01813F;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
text-decoration: underline;

}
.box{
    display: flex;
    gap: 13px;
}
.facebook {
    display: flex;
    justify-content: space-around;
    align-items: center;
background: #305DB8;
position: relative;
border-radius: 4px;
border: none;
width: 160px;
height: 48px;
color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}
.facebook:hover{
    background: #022263;
}
.icon_f::after {
    content: "";
    opacity: 0.1;
    position: absolute;
background-color: #0A162F;
width: 1px;
height: 28px;
flex-shrink: 0;
left: 49px;
   
   
}
.icon_g::after{
    content: "";
    opacity: 0.1;
background: #2B0D09;
position: absolute;
width: 1px;
height: 28px;
left: 60px;
top: 10px;
}
.google {
    display: flex;
   background:#DF4A32;
   border-radius: 4px;
   justify-content: space-around;
   align-items: center;
   border: none;
    width: 160px;
height: 48px;
color: #FFF;
position: relative;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}
.google:hover{
    background: #AB1F09;;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
color: #848484;
font-family: Ubuntu;
font-size: 14px;
position: relative;
padding-top: 20px;

}
.line::before {
    content: "";
    align-items: center;
    position: absolute;
    top: 23px;
    right: 10%;
    width: 145px;
    height: 2px;
    background-color: #F2F2F2;
    transform: translateY(-50%);
    

}
.line::after {
    content: "";
    align-items: center;
    position: absolute;
    top: 23px;
    right: 10%;
    width: 145px;
    height: 2px;
    background-color: #F2F2F2;
    transform: translateY(-50%);
    

}
.line:before{
    left: 0;

}
.line::after {
    right: 0;
}
.input-container{
    display: block;
    color: #FFF;
background: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
width: 324px;
height: 44px;
border-radius: 4px;
border: 1px solid #F2F2F2;
margin-top: 10px;

}

.input-item {
    display: block;
    border: none;
    align-items: center;
    margin: 15px;
    color: #BEBEBE;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
outline: none;
}
.agree {
    display: inline-block;
color: #434343;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

.terms {
    color: #3CB878;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;

}
.terms:hover{
    color: #01813F;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
text-decoration: underline;
}
.checkbox{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
   
    
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 57px;
    bottom: 111px;
    width: 16px;
    height: 7px;
    border-radius: 1px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    
}
.button {
    display: block;
    width: 324px;
height: 46px;
border: none;
    border-radius: 4px;
background: rgba(60, 184, 120, 0.80);
margin: 15px auto;
}
.button:hover{
    background: #01813F;
}